-- MySQL dump 10.13  Distrib 8.4.10, for Linux (x86_64)
--
-- Host: localhost    Database: do_an_tot_nghiep
-- ------------------------------------------------------
-- Server version	8.4.10

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('20260623_0025');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_ticket`
--

DROP TABLE IF EXISTS `chat_ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_ticket` (
  `id_yeu_cau_chat` int NOT NULL AUTO_INCREMENT,
  `id_cuoc_tro_chuyen` int NOT NULL,
  `id_khach_hang` int NOT NULL,
  `loai_yeu_cau` enum('KHIEU_NAI','HUY_DON','HOAN_TIEN','CAN_XAC_NHAN','KHAC') DEFAULT 'KHAC',
  `noi_dung` text,
  `trang_thai` enum('MOI','DANG_XU_LY','DA_XU_LY') DEFAULT 'MOI',
  `ngay_tao` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_yeu_cau_chat`),
  KEY `ix_chat_ticket_cuoc_tro_chuyen` (`id_cuoc_tro_chuyen`),
  KEY `ix_chat_ticket_khach_hang` (`id_khach_hang`),
  KEY `ix_chat_ticket_trang_thai` (`trang_thai`),
  CONSTRAINT `chat_ticket_ibfk_1` FOREIGN KEY (`id_cuoc_tro_chuyen`) REFERENCES `cuoc_tro_chuyen` (`id_cuoc_tro_chuyen`),
  CONSTRAINT `chat_ticket_ibfk_2` FOREIGN KEY (`id_khach_hang`) REFERENCES `khach_hang` (`Id_khach_hang`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_ticket`
--

LOCK TABLES `chat_ticket` WRITE;
/*!40000 ALTER TABLE `chat_ticket` DISABLE KEYS */;
INSERT INTO `chat_ticket` VALUES (1,1,1,'KHAC','Khách hàng yêu cầu chat với nhân viên.','MOI','2026-06-04 17:29:47'),(2,3,16,'KHAC','Khách hàng yêu cầu chat với nhân viên.','MOI','2026-06-07 18:09:48'),(3,5,1,'KHAC','Yêu cầu hỗ trợ từ khách hàng.','MOI','2026-06-21 22:25:04');
/*!40000 ALTER TABLE `chat_ticket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_don_thue`
--

DROP TABLE IF EXISTS `chi_tiet_don_thue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_tiet_don_thue` (
  `Id_chi_tiet_don_thue` int NOT NULL AUTO_INCREMENT,
  `id_don_thue` int DEFAULT NULL,
  `id_thiet_bi` int DEFAULT NULL,
  `ngay_nhan` datetime DEFAULT NULL,
  `ngay_tra` datetime DEFAULT NULL,
  `so_luong` int DEFAULT NULL,
  `gia_thue` decimal(10,2) DEFAULT NULL,
  `trang_thai` enum('Cho thanh toan','Da dat','Da xac nhan','Dang thue','Da thue','Da huy','Da qua han') NOT NULL DEFAULT 'Da dat',
  PRIMARY KEY (`Id_chi_tiet_don_thue`),
  KEY `id_don_thue` (`id_don_thue`),
  KEY `id_thiet_bi` (`id_thiet_bi`),
  CONSTRAINT `chi_tiet_don_thue_ibfk_1` FOREIGN KEY (`id_don_thue`) REFERENCES `don_thue` (`Id_don_thue`),
  CONSTRAINT `chi_tiet_don_thue_ibfk_2` FOREIGN KEY (`id_thiet_bi`) REFERENCES `thiet_bi` (`Id_thiet_bi`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_don_thue`
--

LOCK TABLES `chi_tiet_don_thue` WRITE;
/*!40000 ALTER TABLE `chi_tiet_don_thue` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_don_thue` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_update_tong_tien` AFTER INSERT ON `chi_tiet_don_thue` FOR EACH ROW BEGIN

    UPDATE DON_THUE
    SET tong_tien =
    (
        SELECT SUM(gia_thue * so_luong)
        FROM CHI_TIET_DON_THUE
        WHERE id_don_thue = NEW.id_don_thue
    )
    WHERE Id_don_thue = NEW.id_don_thue;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_kiem_tra_qua_han` BEFORE UPDATE ON `chi_tiet_don_thue` FOR EACH ROW BEGIN

    IF NEW.ngay_tra < NOW() THEN

        UPDATE DON_THUE
        SET trang_thai = 'Da qua han'
        WHERE Id_don_thue = NEW.id_don_thue;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `cuoc_tro_chuyen`
--

DROP TABLE IF EXISTS `cuoc_tro_chuyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuoc_tro_chuyen` (
  `id_cuoc_tro_chuyen` int NOT NULL AUTO_INCREMENT,
  `id_khach_hang` int NOT NULL,
  `id_nhan_vien` int DEFAULT NULL,
  `che_do_chat` enum('STAFF') NOT NULL DEFAULT 'STAFF',
  `trang_thai` enum('CHO_NHAN_VIEN','NHAN_VIEN_DANG_XU_LY','DA_DONG') NOT NULL DEFAULT 'CHO_NHAN_VIEN',
  `chu_de` varchar(255) DEFAULT NULL,
  `can_nhan_vien` tinyint(1) DEFAULT '0',
  `ngay_tao` datetime DEFAULT CURRENT_TIMESTAMP,
  `ngay_cap_nhat` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_cuoc_tro_chuyen`),
  KEY `ix_cuoc_tro_chuyen_khach_hang` (`id_khach_hang`),
  KEY `ix_cuoc_tro_chuyen_nhan_vien` (`id_nhan_vien`),
  KEY `ix_cuoc_tro_chuyen_trang_thai` (`trang_thai`),
  KEY `ix_cuoc_tro_chuyen_created_at` (`ngay_tao`),
  CONSTRAINT `cuoc_tro_chuyen_ibfk_1` FOREIGN KEY (`id_khach_hang`) REFERENCES `khach_hang` (`Id_khach_hang`),
  CONSTRAINT `cuoc_tro_chuyen_ibfk_2` FOREIGN KEY (`id_nhan_vien`) REFERENCES `nhan_vien` (`Id_nhan_vien`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuoc_tro_chuyen`
--

LOCK TABLES `cuoc_tro_chuyen` WRITE;
/*!40000 ALTER TABLE `cuoc_tro_chuyen` DISABLE KEYS */;
INSERT INTO `cuoc_tro_chuyen` VALUES (1,1,1,'STAFF','NHAN_VIEN_DANG_XU_LY',NULL,0,'2026-06-04 17:29:47','2026-06-18 06:32:22'),(2,1,1,'STAFF','NHAN_VIEN_DANG_XU_LY',NULL,0,'2026-06-04 17:39:35','2026-06-18 08:00:50'),(3,16,1,'STAFF','DA_DONG',NULL,0,'2026-06-07 18:09:48','2026-06-24 01:49:04'),(4,2,1,'STAFF','DA_DONG',NULL,0,'2026-06-13 21:53:01','2026-06-24 01:49:00'),(5,1,1,'STAFF','NHAN_VIEN_DANG_XU_LY',NULL,1,'2026-06-18 13:33:33','2026-06-24 01:49:31'),(6,3,1,'STAFF','NHAN_VIEN_DANG_XU_LY',NULL,0,'2026-06-18 20:35:01','2026-06-18 20:36:41');
/*!40000 ALTER TABLE `cuoc_tro_chuyen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_muc`
--

DROP TABLE IF EXISTS `danh_muc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danh_muc` (
  `Id_danh_muc` int NOT NULL AUTO_INCREMENT,
  `ten_danh_muc` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `mo_ta` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`Id_danh_muc`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_muc`
--

LOCK TABLES `danh_muc` WRITE;
/*!40000 ALTER TABLE `danh_muc` DISABLE KEYS */;
INSERT INTO `danh_muc` VALUES (1,'Máy ảnh DSLR','Máy ảnh chụp hình chuyên nghiệp'),(2,'Máy ảnh Mirrorless','Máy ảnh không gương lật'),(3,'Ống kính','Các loại Lens'),(4,'Flycam','Thiết bị bay quay phim'),(5,'Phụ kiện','Tripod, đèn , pin');
/*!40000 ALTER TABLE `danh_muc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `don_thue`
--

DROP TABLE IF EXISTS `don_thue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `don_thue` (
  `Id_don_thue` int NOT NULL AUTO_INCREMENT,
  `Id_khach_hang` int DEFAULT NULL,
  `ngay_dat` datetime DEFAULT CURRENT_TIMESTAMP,
  `trang_thai` enum('Cho thanh toan','Da dat','Da xac nhan','Dang thue','Da thue','Da huy','Da qua han') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Da dat',
  `tong_tien` decimal(12,2) DEFAULT NULL,
  `Anh_chuyen_khoan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ghi_chu` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_ma_giam_gia` int DEFAULT NULL,
  `so_tien_giam` decimal(12,2) DEFAULT '0.00',
  `phuong_thuc_thanh_toan` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ma_giao_dich_vnpay` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_tien_da_thanh_toan` decimal(12,2) DEFAULT '0.00',
  `han_thanh_toan_vnpay` datetime DEFAULT NULL,
  `ngay_thanh_toan` datetime DEFAULT NULL,
  PRIMARY KEY (`Id_don_thue`),
  KEY `Id_khach_hang` (`Id_khach_hang`),
  KEY `fk_don_thue_ma_giam_gia` (`id_ma_giam_gia`),
  CONSTRAINT `don_thue_ibfk_1` FOREIGN KEY (`Id_khach_hang`) REFERENCES `khach_hang` (`Id_khach_hang`),
  CONSTRAINT `fk_don_thue_ma_giam_gia` FOREIGN KEY (`id_ma_giam_gia`) REFERENCES `ma_giam_gia` (`id_ma_giam_gia`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `don_thue`
--

LOCK TABLES `don_thue` WRITE;
/*!40000 ALTER TABLE `don_thue` DISABLE KEYS */;
/*!40000 ALTER TABLE `don_thue` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_update_trang_thai_don` BEFORE UPDATE ON `don_thue` FOR EACH ROW BEGIN

    IF NEW.trang_thai = 'Dang thue'
       AND OLD.trang_thai = 'Cho xac nhan'
    THEN
        SET NEW.trang_thai = 'Da xac nhan';
    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `gio_hang`
--

DROP TABLE IF EXISTS `gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gio_hang` (
  `Id_gio_hang` int NOT NULL AUTO_INCREMENT,
  `Id_khach_hang` int NOT NULL,
  `Id_thiet_bi` int NOT NULL,
  `so_luong` int DEFAULT '1',
  `ngay_nhan` date DEFAULT NULL,
  `ngay_tra` date DEFAULT NULL,
  `ngay_them` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id_gio_hang`),
  KEY `Id_khach_hang` (`Id_khach_hang`),
  KEY `Id_thiet_bi` (`Id_thiet_bi`),
  CONSTRAINT `gio_hang_ibfk_1` FOREIGN KEY (`Id_khach_hang`) REFERENCES `khach_hang` (`Id_khach_hang`),
  CONSTRAINT `gio_hang_ibfk_2` FOREIGN KEY (`Id_thiet_bi`) REFERENCES `thiet_bi` (`Id_thiet_bi`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gio_hang`
--

LOCK TABLES `gio_hang` WRITE;
/*!40000 ALTER TABLE `gio_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `gio_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khach_hang`
--

DROP TABLE IF EXISTS `khach_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khach_hang` (
  `Id_khach_hang` int NOT NULL AUTO_INCREMENT,
  `Id_tai_khoan` int DEFAULT NULL,
  `ho_ten` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `sdt` varchar(20) DEFAULT NULL,
  `So_CCCD` varchar(20) DEFAULT NULL,
  `Anh_CCCD_mat_truoc` varchar(255) DEFAULT NULL,
  `Anh_CCCD_mat_sau` varchar(255) DEFAULT NULL,
  `thu_dien_tu` varchar(100) DEFAULT NULL,
  `gioi_tinh` varchar(20) DEFAULT NULL,
  `ngay_sinh` date DEFAULT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Id_khach_hang`),
  UNIQUE KEY `Id_tai_khoan` (`Id_tai_khoan`),
  UNIQUE KEY `uq_khach_hang_sdt` (`sdt`),
  UNIQUE KEY `uq_khach_hang_so_cccd` (`So_CCCD`),
  UNIQUE KEY `uq_khach_hang_email` (`thu_dien_tu`),
  CONSTRAINT `khach_hang_ibfk_1` FOREIGN KEY (`Id_tai_khoan`) REFERENCES `tai_khoan` (`id_tai_khoan`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khach_hang`
--

LOCK TABLES `khach_hang` WRITE;
/*!40000 ALTER TABLE `khach_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `khach_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khieu_nai`
--

DROP TABLE IF EXISTS `khieu_nai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khieu_nai` (
  `Id_khieu_nai` int NOT NULL AUTO_INCREMENT,
  `id_don_thue` int DEFAULT NULL,
  `id_khach_hang` int DEFAULT NULL,
  `noi_dung` text,
  `trang_thai` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `ngay_khieu_nai` datetime DEFAULT NULL,
  `tieu_de` varchar(255) DEFAULT NULL,
  `san_pham_khieu_nai` text,
  PRIMARY KEY (`Id_khieu_nai`),
  KEY `id_don_thue` (`id_don_thue`),
  KEY `id_khach_hang` (`id_khach_hang`),
  CONSTRAINT `khieu_nai_ibfk_1` FOREIGN KEY (`id_don_thue`) REFERENCES `don_thue` (`Id_don_thue`),
  CONSTRAINT `khieu_nai_ibfk_2` FOREIGN KEY (`id_khach_hang`) REFERENCES `khach_hang` (`Id_khach_hang`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khieu_nai`
--

LOCK TABLES `khieu_nai` WRITE;
/*!40000 ALTER TABLE `khieu_nai` DISABLE KEYS */;
/*!40000 ALTER TABLE `khieu_nai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ma_giam_gia`
--

DROP TABLE IF EXISTS `ma_giam_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ma_giam_gia` (
  `id_ma_giam_gia` int NOT NULL AUTO_INCREMENT,
  `ma_giam_gia` varchar(50) NOT NULL,
  `ten_ma` varchar(255) DEFAULT NULL,
  `mo_ta` varchar(255) DEFAULT NULL,
  `loai_giam_gia` enum('phan_tram','tien_mat') NOT NULL,
  `gia_tri_giam` decimal(12,2) NOT NULL,
  `dieu_kien_loai` enum('so_ngay_thue','tong_tien_don','khong_dieu_kien') DEFAULT 'khong_dieu_kien',
  `so_ngay_thue_toi_thieu` int DEFAULT '0',
  `gia_tri_don_toi_thieu` decimal(12,2) DEFAULT '0.00',
  `ngay_bat_dau` date DEFAULT NULL,
  `ngay_ket_thuc` date DEFAULT NULL,
  `so_luong` int DEFAULT '0',
  `da_su_dung` int DEFAULT '0',
  `trang_thai` enum('dang_hoat_dong','tam_ngung','het_han') DEFAULT 'dang_hoat_dong',
  `ngay_tao` datetime DEFAULT CURRENT_TIMESTAMP,
  `ngay_cap_nhat` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_ma_giam_gia`),
  UNIQUE KEY `ma_code` (`ma_giam_gia`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ma_giam_gia`
--

LOCK TABLES `ma_giam_gia` WRITE;
/*!40000 ALTER TABLE `ma_giam_gia` DISABLE KEYS */;
/*!40000 ALTER TABLE `ma_giam_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhan_vien`
--

DROP TABLE IF EXISTS `nhan_vien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhan_vien` (
  `Id_nhan_vien` int NOT NULL AUTO_INCREMENT,
  `Id_tai_khoan` int DEFAULT NULL,
  `ho_ten` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `sdt` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`Id_nhan_vien`),
  UNIQUE KEY `Id_tai_khoan` (`Id_tai_khoan`),
  CONSTRAINT `nhan_vien_ibfk_1` FOREIGN KEY (`Id_tai_khoan`) REFERENCES `tai_khoan` (`id_tai_khoan`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhan_vien`
--

LOCK TABLES `nhan_vien` WRITE;
/*!40000 ALTER TABLE `nhan_vien` DISABLE KEYS */;
INSERT INTO `nhan_vien` VALUES (1,1,'Tran Cong Hieu','0901000001'),(2,2,'Tran Thi Minh','0901000003'),(3,3,'Le Van Nam','0901000003'),(4,4,'Pham Gia Bao','0901000004'),(5,5,'Vo Minh Quan','0901000005');
/*!40000 ALTER TABLE `nhan_vien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhan_vien_online`
--

DROP TABLE IF EXISTS `nhan_vien_online`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhan_vien_online` (
  `id_nhan_vien_online` int NOT NULL AUTO_INCREMENT,
  `id_nhan_vien` int NOT NULL,
  `dang_truc_tuyen` tinyint(1) DEFAULT '0',
  `lan_cuoi_hoat_dong` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_nhan_vien_online`),
  UNIQUE KEY `ix_nhan_vien_online_nhan_vien` (`id_nhan_vien`),
  KEY `ix_nhan_vien_online_online` (`dang_truc_tuyen`,`lan_cuoi_hoat_dong`),
  CONSTRAINT `nhan_vien_online_ibfk_1` FOREIGN KEY (`id_nhan_vien`) REFERENCES `nhan_vien` (`Id_nhan_vien`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhan_vien_online`
--

LOCK TABLES `nhan_vien_online` WRITE;
/*!40000 ALTER TABLE `nhan_vien_online` DISABLE KEYS */;
INSERT INTO `nhan_vien_online` VALUES (1,1,1,'2026-06-23 18:49:12'),(2,3,0,'2026-06-21 12:29:57');
/*!40000 ALTER TABLE `nhan_vien_online` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tai_khoan`
--

DROP TABLE IF EXISTS `tai_khoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tai_khoan` (
  `id_tai_khoan` int NOT NULL AUTO_INCREMENT,
  `Dang_nhap` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Mat_khau` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Vai_tro` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Trang_thai` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kich_hoat` bit(1) DEFAULT NULL,
  `nha_cung_cap` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'local',
  `id_nha_cung_cap` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `anh_dai_dien` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_tai_khoan`),
  UNIQUE KEY `uq_tai_khoan_dang_nhap` (`Dang_nhap`),
  UNIQUE KEY `uq_tai_khoan_nha_cung_cap_dinh_danh` (`nha_cung_cap`,`id_nha_cung_cap`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tai_khoan`
--

LOCK TABLES `tai_khoan` WRITE;
/*!40000 ALTER TABLE `tai_khoan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tai_khoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thiet_bi`
--

DROP TABLE IF EXISTS `thiet_bi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thiet_bi` (
  `Id_thiet_bi` int NOT NULL AUTO_INCREMENT,
  `ten_thiet_bi` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `id_danh_muc` int DEFAULT NULL,
  `so_luong` int DEFAULT '0',
  `gia_thue` decimal(12,2) DEFAULT NULL,
  `tinh_trang` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `mo_ta` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `hinh_anh` varchar(2000) DEFAULT NULL,
  PRIMARY KEY (`Id_thiet_bi`),
  KEY `danh_muc_id` (`id_danh_muc`),
  CONSTRAINT `thiet_bi_ibfk_1` FOREIGN KEY (`id_danh_muc`) REFERENCES `danh_muc` (`Id_danh_muc`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thiet_bi`
--

LOCK TABLES `thiet_bi` WRITE;
/*!40000 ALTER TABLE `thiet_bi` DISABLE KEYS */;
/*!40000 ALTER TABLE `thiet_bi` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_update_tinh_trang` BEFORE UPDATE ON `thiet_bi` FOR EACH ROW BEGIN

    IF NEW.so_luong <= 0 THEN
        SET NEW.tinh_trang = 'Dang thue';
    ELSE
        SET NEW.tinh_trang = 'San sang';
    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `thong_bao`
--

DROP TABLE IF EXISTS `thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thong_bao` (
  `Id_thong_bao` int NOT NULL AUTO_INCREMENT,
  `Id_tai_khoan` int DEFAULT NULL,
  `Id_don_thue` int DEFAULT NULL,
  `tieu_de` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `noi_dung` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai_thong_bao` enum('Dat hang thanh cong','Co don hang moi','Cap nhat don hang','Khieu nai','He thong') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'He thong',
  `doi_tuong_nhan` enum('User','Admin','Nhan vien') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai` enum('Chua doc','Da doc') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'Chua doc',
  `ngay_tao` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id_thong_bao`),
  KEY `Id_tai_khoan` (`Id_tai_khoan`),
  KEY `Id_don_thue` (`Id_don_thue`),
  CONSTRAINT `thong_bao_ibfk_1` FOREIGN KEY (`Id_tai_khoan`) REFERENCES `tai_khoan` (`id_tai_khoan`),
  CONSTRAINT `thong_bao_ibfk_2` FOREIGN KEY (`Id_don_thue`) REFERENCES `don_thue` (`Id_don_thue`)
) ENGINE=InnoDB AUTO_INCREMENT=289 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_bao`
--

LOCK TABLES `thong_bao` WRITE;
/*!40000 ALTER TABLE `thong_bao` DISABLE KEYS */;
/*!40000 ALTER TABLE `thong_bao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tin_nhan_ai`
--

DROP TABLE IF EXISTS `tin_nhan_ai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tin_nhan_ai` (
  `id_tin_nhan_ai` int NOT NULL AUTO_INCREMENT,
  `id_khach_hang` int NOT NULL,
  `vai_tro` enum('USER','AI') COLLATE utf8mb4_unicode_ci NOT NULL,
  `noi_dung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay_tao` datetime DEFAULT (now()),
  PRIMARY KEY (`id_tin_nhan_ai`),
  KEY `ix_tin_nhan_ai_khach_hang` (`id_khach_hang`),
  CONSTRAINT `tin_nhan_ai_ibfk_1` FOREIGN KEY (`id_khach_hang`) REFERENCES `khach_hang` (`Id_khach_hang`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tin_nhan_ai`
--

LOCK TABLES `tin_nhan_ai` WRITE;
/*!40000 ALTER TABLE `tin_nhan_ai` DISABLE KEYS */;
/*!40000 ALTER TABLE `tin_nhan_ai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tin_nhan_chat`
--

DROP TABLE IF EXISTS `tin_nhan_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tin_nhan_chat` (
  `id_tin_nhan` int NOT NULL AUTO_INCREMENT,
  `id_cuoc_tro_chuyen` int NOT NULL,
  `loai_nguoi_gui` enum('CUSTOMER','STAFF') NOT NULL,
  `id_nguoi_gui` int DEFAULT NULL,
  `noi_dung` text NOT NULL,
  `loai_tin_nhan` enum('TEXT','IMAGE','FILE') DEFAULT 'TEXT',
  `da_doc` tinyint(1) DEFAULT '0',
  `ngay_tao` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_tin_nhan`),
  KEY `ix_tin_nhan_chat_cuoc_tro_chuyen` (`id_cuoc_tro_chuyen`),
  KEY `ix_tin_nhan_chat_created_at` (`ngay_tao`),
  CONSTRAINT `tin_nhan_chat_ibfk_1` FOREIGN KEY (`id_cuoc_tro_chuyen`) REFERENCES `cuoc_tro_chuyen` (`id_cuoc_tro_chuyen`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tin_nhan_chat`
--

LOCK TABLES `tin_nhan_chat` WRITE;
/*!40000 ALTER TABLE `tin_nhan_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `tin_nhan_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_lich_su_thue`
--

DROP TABLE IF EXISTS `vw_lich_su_thue`;
/*!50001 DROP VIEW IF EXISTS `vw_lich_su_thue`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_lich_su_thue` AS SELECT 
 1 AS `Id_don_thue`,
 1 AS `ho_ten`,
 1 AS `ten_thiet_bi`,
 1 AS `ngay_nhan`,
 1 AS `ngay_tra`,
 1 AS `so_luong`,
 1 AS `gia_thue`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping routines for database 'do_an_tot_nghiep'
--
/*!50003 DROP FUNCTION IF EXISTS `fn_format_tien` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_format_tien`(
    p_tien DECIMAL(12,2)
) RETURNS varchar(50) CHARSET utf8mb4
    DETERMINISTIC
BEGIN

    RETURN CONCAT(FORMAT(p_tien,0), ' VNĐ');

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_kiem_tra_qua_han` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_kiem_tra_qua_han`(
    p_id_don_thue INT
) RETURNS varchar(50) CHARSET utf8mb4
    DETERMINISTIC
BEGIN

    DECLARE v_ngay_tra DATETIME;

    SELECT MAX(ngay_tra)
    INTO v_ngay_tra
    FROM CHI_TIET_DON_THUE
    WHERE id_don_thue = p_id_don_thue;

    IF v_ngay_tra < NOW() THEN
        RETURN 'Da qua han';
    ELSE
        RETURN 'Con han';
    END IF;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_so_ngay_thue` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_so_ngay_thue`(
    p_ngay_nhan DATETIME,
    p_ngay_tra DATETIME
) RETURNS int
    DETERMINISTIC
BEGIN

    RETURN DATEDIFF(p_ngay_tra, p_ngay_nhan);

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_so_tb_dang_thue` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_so_tb_dang_thue`() RETURNS int
    DETERMINISTIC
BEGIN

    DECLARE v_count INT;

    SELECT COUNT(*)
    INTO v_count
    FROM THIET_BI
    WHERE tinh_trang = 'Dang thue';

    RETURN v_count;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_ten_danh_muc` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_ten_danh_muc`(
    p_id_danh_muc INT
) RETURNS varchar(100) CHARSET utf8mb4
    DETERMINISTIC
BEGIN

    DECLARE v_ten VARCHAR(100);

    SELECT ten_danh_muc
    INTO v_ten
    FROM DANH_MUC
    WHERE Id_danh_muc = p_id_danh_muc;

    RETURN v_ten;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_tinh_tong_tien` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_tinh_tong_tien`(
    p_id_don_thue INT
) RETURNS decimal(12,2)
    DETERMINISTIC
BEGIN

    DECLARE v_tong_tien DECIMAL(12,2);

    SELECT 
        SUM(gia_thue * so_luong)
    INTO v_tong_tien
    FROM CHI_TIET_DON_THUE
    WHERE id_don_thue = p_id_don_thue;

    RETURN IFNULL(v_tong_tien, 0);

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_tong_doanh_thu` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_tong_doanh_thu`() RETURNS decimal(12,2)
    DETERMINISTIC
BEGIN

    DECLARE v_doanh_thu DECIMAL(12,2);

    SELECT SUM(tong_tien)
    INTO v_doanh_thu
    FROM DON_THUE;

    RETURN IFNULL(v_doanh_thu,0);

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_tao_don_thue` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_tao_don_thue`(
    IN p_id_khach_hang INT,
    IN p_anh_ck VARCHAR(255),
    IN p_ghi_chu NVARCHAR(255)
)
BEGIN

    INSERT INTO DON_THUE
    (
        Id_khach_hang,
        ngay_dat,
        trang_thai,
        tong_tien,
        Anh_chuyen_khoan,
        ghi_chu
    )
    VALUES
    (
        p_id_khach_hang,
        NOW(),
        'Cho xac nhan',
        0,
        p_anh_ck,
        p_ghi_chu
    );

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_them_chi_tiet_thue` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_them_chi_tiet_thue`(
    IN p_id_don_thue INT,
    IN p_id_thiet_bi INT,
    IN p_ngay_nhan DATETIME,
    IN p_ngay_tra DATETIME,
    IN p_so_luong INT
)
BEGIN

    DECLARE v_gia_thue DECIMAL(12,2);

    SELECT gia_thue
    INTO v_gia_thue
    FROM THIET_BI
    WHERE Id_thiet_bi = p_id_thiet_bi;

    INSERT INTO CHI_TIET_DON_THUE
    (
        id_don_thue,
        id_thiet_bi,
        ngay_nhan,
        ngay_tra,
        so_luong,
        gia_thue
    )
    VALUES
    (
        p_id_don_thue,
        p_id_thiet_bi,
        p_ngay_nhan,
        p_ngay_tra,
        p_so_luong,
        v_gia_thue
    );

    UPDATE THIET_BI
    SET so_luong = so_luong - p_so_luong
    WHERE Id_thiet_bi = p_id_thiet_bi;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_tim_thiet_bi` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_tim_thiet_bi`(
    IN p_tu_khoa VARCHAR(100)
)
BEGIN

    SELECT *
    FROM THIET_BI
    WHERE ten_thiet_bi LIKE CONCAT('%', p_tu_khoa, '%')
       OR mo_ta LIKE CONCAT('%', p_tu_khoa, '%');

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `vw_lich_su_thue`
--

/*!50001 DROP VIEW IF EXISTS `vw_lich_su_thue`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_lich_su_thue` AS select `dt`.`Id_don_thue` AS `Id_don_thue`,`kh`.`ho_ten` AS `ho_ten`,`tb`.`ten_thiet_bi` AS `ten_thiet_bi`,`ctdt`.`ngay_nhan` AS `ngay_nhan`,`ctdt`.`ngay_tra` AS `ngay_tra`,`ctdt`.`so_luong` AS `so_luong`,`ctdt`.`gia_thue` AS `gia_thue` from (((`don_thue` `dt` join `khach_hang` `kh` on((`dt`.`Id_khach_hang` = `kh`.`Id_khach_hang`))) join `chi_tiet_don_thue` `ctdt` on((`dt`.`Id_don_thue` = `ctdt`.`id_don_thue`))) join `thiet_bi` `tb` on((`ctdt`.`id_thiet_bi` = `tb`.`Id_thiet_bi`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-24  2:22:10
